@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  font-display: swap;
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  font-size: 18px;
  line-height: 26px;
  font-weight: normal;
  font-style: normal;
  font-family: "PT Sans", sans-serif;
  height: 100%;
}

.page--popup {
  pointer-events: none;
}

.page-body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.main-nav__list--closed {
  display: none;
}

.main-nav__item {
  width: 100%;
}

.main-nav__link {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 0;
  color: #ffffff;
  background-color: #81B3D2;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #669EC0;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__link--inner {
  -webkit-box-shadow: 0px -3px 8px -5px #000 inset;
          box-shadow: 0px -3px 8px -5px #000 inset;
  border-bottom: none;
}

.main-nav__menu {
  height: 56px;
  position: relative;
}

.main-nav__logo {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 9999;
}

.main-nav__toggle {
  display: block;
  font-size: 0;
  line-height: 0;
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #81B3D2;
  -webkit-box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
          box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.main-nav__toggle:hover::after,
.main-nav__toggle:focus::after,
.main-nav__toggle:hover::before,
.main-nav__toggle:focus::before {
  opacity: 0.6;
}

.main-nav__toggle:active::after,
.main-nav__toggle:active::before {
  opacity: 0.3;
}

.main-nav__toggle--no-js {
  display: none;
}

.main-nav__toggle--opened {
  top: -217px;
  height: 23px;
}

.main-nav__toggle--opened::after {
  top: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-nav__toggle--opened::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.banner {
  position: relative;
  margin-bottom: 35px;
  min-height: 389px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 282px;
  height: 214px;
  background-image: url(../img/svg/text-index.svg);
}

.banner::after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 57px;
  background-image: url(../img/intro-triangle.png);
  background-repeat: no-repeat;
  background-position: center;
}

.banner--inner {
  min-height: 157px;
}

.banner--inner::before {
  width: 229px;
  height: 39px;
  background-image: url(../img/svg/text-inner.svg);
}

.banner--photo {
  margin-bottom: 20px;
}

.banner--review {
  margin-bottom: 38px;
}

.intro {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0 25px;
}

.intro--photo {
  margin-bottom: 40px;
}

.intro--video {
  margin-bottom: 40px;
}

.intro--review {
  margin-bottom: 15px;
  padding: 0 20px;
}

.intro__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.intro__text {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.intro__text--inner {
  line-height: 24px;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  text-transform: uppercase;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.features__item--blue {
  padding: 40px 10px;
  color: #ffffff;
  background-color: #81B3D2;
}

.features__item--town {
  position: relative;
  padding-top: 70px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.features__item--town::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 37px;
  background-image: url(../img/triangle-white.png);
  background-repeat: no-repeat;
  background-position: center;
}

.features__item--city {
  height: 260px;
  overflow: hidden;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.features__picture {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.features__item--options {
  -ms-flex-item-align: start;
      align-self: flex-start;
  text-align: left;
  position: relative;
  width: auto;
  padding: 13px 20px;
  padding-left: 70px;
}

.features__item--options::before {
  content: "";
  position: absolute;
  z-index: 9999;
}

.features__item--housing {
  padding-top: 35px;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.features__item--housing::before {
  top: 24px;
  left: 21px;
  width: 39px;
  height: 37px;
  background-image: url(../img/svg/icon-house.svg);
}

.features__item--suvenires {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.features__item--suvenires::before {
  top: 1px;
  left: 25px;
  width: 32px;
  height: 38px;
  background-image: url(../img/svg/icon-gift.svg);
}

.features__item--eat {
  padding-bottom: 35px;
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.features__item--eat::before {
  top: 8px;
  left: 18px;
  width: 40px;
  height: 35px;
  background-image: url(../img/svg/icon-burger.svg);
}

.features__item--devils {
  -webkit-box-ordinal-group: 7;
      -ms-flex-order: 6;
          order: 6;
}

.features__item--bridge {
  height: 260px;
  overflow: hidden;
  -webkit-box-ordinal-group: 8;
      -ms-flex-order: 7;
          order: 7;
}

.features__item--gray {
  position: relative;
  padding: 23px 35px;
  background-color: #EEEEEE;
  -webkit-box-ordinal-group: 9;
      -ms-flex-order: 8;
          order: 8;
}

.features__item--gray::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 280px;
  height: 1px;
  background-color: #D6D6D6;
}

.features__item--inner::after {
  display: none;
}

.features__title {
  font-size: 18px;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.features__number {
  display: block;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 15px;
}

.features__text {
  font-size: 14px;
  line-height: 21px;
  margin: 0;
  padding: 0;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 35px 15px 50px;
}

.search__title {
  font-size: 21px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.search__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.search__tablet {
  display: none;
}

.search__button {
  display: block;
  font-size: 21px;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  padding: 15px 0;
  color: #ffffff;
  background-color: #81B3D2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.search__button:hover,
.search__button:focus {
  background-color: #669EC0;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.map {
  width: 100%;
  height: 350px;
  background-image: url(../img/bg-map-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.map__interactive {
  width: 100%;
  height: 350px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 40px 80px 23px;
}

.page-footer--inner {
  margin-top: 40px;
}

.tag__title {
  font-size: 21px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  width: 150px;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social__link:hover,
.social__link:focus {
  background-color: #669EC0;
}

.social__link:active {
  background-color: #5496BD;
}

.social__link:active .social__icon {
  opacity: 0.3;
}

.social__icon {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.copyright__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.copyright__link:hover .copyright__icon path,
.copyright__link:focus .copyright__icon path {
  fill: #81B3D2;
}

.copyright__link:active .copyright__icon path {
  fill: #000000;
  opacity: 0.3;
}

.copyright__text {
  font-size: 14px;
  text-transform: uppercase;
  margin-right: 5px;
  color: #000000;
}

.copyright__icon path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.photographs {
  margin-bottom: 30px;
}

.photographs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.photographs__item {
  position: relative;
  padding: 20px;
}

.photographs__item::before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}

.photographs__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #E5E5E5;
}

.photographs__image {
  font-size: 0;
  line-height: 0;
  margin: 0;
}

.photographs__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  padding-top: 13px;
}

.photographs__title {
  font: inherit;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.photographs__text {
  font: inherit;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.photographs__likes-btn {
  font: inherit;
  margin: 0;
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.photographs__likes-icon {
  margin-right: 10px;
}

.photographs__likes-icon--active path {
  opacity: 1;
  fill: #81B3D2;
}

.photographs__likes-number {
  font: inherit;
  vertical-align: bottom;
}

.video__wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.video__file {
  width: 100%;
  height: auto;
}

.form__wrapper {
  padding: 0 20px;
}

.form__initials {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
}

.form__contact-info {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.form__impress {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.form__visit {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.form__emotions {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.form__controls {
  -webkit-box-ordinal-group: 6;
      -ms-flex-order: 5;
          order: 5;
}

.form__btn {
  font: inherit;
  font-size: 21px;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  background-color: #81B3D2;
  border: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form__btn:hover,
.form__btn:focus {
  background-color: #669EC0;
}

.form__btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

.form__note {
  display: none;
}

.data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  padding-top: 20px;
  border: none;
  border-top: 1px solid #DBDBDB;
}

.data--impress {
  margin-bottom: 38px;
}

.data--visit {
  margin-bottom: 38px;
}

.data__title {
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  float: left;
  margin-bottom: 20px;
  padding: 0;
}

.data__title--impress {
  margin-bottom: 37px;
}

.data__title--contact-info {
  margin-bottom: 15px;
}

.data__title--visit {
  margin-bottom: 36px;
}

.data__title--emotions {
  margin-bottom: 15px;
}

.data__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.data__item {
  margin-bottom: 20px;
}

.data__item:last-child {
  margin: 0;
}

.data__item--impress {
  margin-bottom: 43px;
  padding-left: 80px;
}

.data__item--visit {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 54px;
  padding-left: 80px;
}

.data__item--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.data__item--contact-info {
  position: relative;
  margin-bottom: 13px;
}

.data__item--contact-info::before {
  content: "";
  position: absolute;
  top: 34px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #E6E6E6;
}

.data__item--tel::after {
  content: "";
  position: absolute;
  top: 55px;
  right: 19px;
  width: 18px;
  height: 18px;
  background-image: url(../img/svg/phone.svg);
}

.data__item--mail::after {
  content: "";
  position: absolute;
  top: 56px;
  right: 21px;
  width: 16px;
  height: 12px;
  background-image: url(../img/svg/mail.svg);
}

.data__label {
  display: inline-block;
  font-size: 14px;
  margin-right: 15px;
}

.data__label--contact-info {
  margin: 0 0 7px 22px;
}

.data__label--btn {
  font-size: 18px;
  font-weight: bold;
  text-transform: none;
  position: relative;
  margin: 0;
}

.data__label--radio::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55px;
  height: 55px;
  background-color: #F2F2F2;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.data__input--radio:checked + .data__label--radio::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -63px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 21px;
  height: 21px;
  background-color: #333333;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.data__label--radio:hover::before,
.data__input--radio:focus + .data__label--radio::before {
  background-color: #E5E5E5;
}

.data__label--radio:active::before,
.data__input--radio:active + .data__label--radio::before {
  background-color: #D5D5D5;
}

.data__label--radio:active::after,
.data__input--radio:active + .data__label--radio::after {
  opacity: 0.3;
}

.data__label--checkbox::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -80px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55px;
  height: 55px;
  background-color: #F2F2F2;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.data__input--checkbox:checked + .data__label--checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: -63px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 24px;
  height: 17px;
  background-image: url(../img/svg/tick.svg);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.data__label--checkbox:hover::before,
.data__input--checkbox:focus + .data__label--checkbox::before {
  background-color: #E5E5E5;
}

.data__label--checkbox:active::before,
.data__input--checkbox:active + .data__label--checkbox::before {
  background-color: #D5D5D5;
}

.data__label--checkbox:active::after,
.data__input--checkbox:active + .data__label--checkbox::after {
  opacity: 0.3;
}

.data__input {
  font: inherit;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 12px 16px 12px;
  width: 100%;
  background-color: #F2F2F2;
  border: 4px solid #F2F2F2;
  outline: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.data__input::-webkit-input-placeholder {
  color: #000000;
}

.data__input::-moz-placeholder {
  color: #000000;
}

.data__input:-ms-input-placeholder {
  color: #000000;
}

.data__input::-ms-input-placeholder {
  color: #000000;
}

.data__input::placeholder {
  color: #000000;
}

.data__input:hover {
  background-color: #E5E5E5;
  border: 4px solid #E5E5E5;
}

.data__input:focus {
  background-color: #ffffff;
  border: 4px solid #E5E5E5;
}

.data__input--contact-info {
  padding: 14px 58px 10px 18px;
}

.data__input--textarea {
  width: 100%;
  height: 160px;
  margin-bottom: 25px;
  resize: none;
}

.data__input--fail {
  border: 4px solid #ca2626;
}

.popup {
  display: none;
  position: fixed;
  text-transform: uppercase;
  text-align: center;
  width: 320px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25), 0 0 0 1000vmax rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 60px rgba(0, 0, 0, 0.25), 0 0 0 1000vmax rgba(0, 0, 0, 0.3);
  pointer-events: visible;
}

@-webkit-keyframes show {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes show {
  0% {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }

  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.popup--show {
  display: block;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

.popup__main {
  padding: 40px 30px 40px;
  background-color: #ffffff;
}

.popup__main--fail {
  padding: 40px 35px 40px;
}

.popup__title {
  display: block;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 35px;
}

.popup__br-tablet {
  display: none;
}

.popup__text {
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.popup__text--fail {
  margin-bottom: 22px;
}

.popup__controls {
  padding: 20px;
  background-color: #F2F2F2;
}

.popup__btn {
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  background-color: #81B3D2;
  border: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.popup__btn:hover,
.popup__btn:focus {
  background-color: #669EC0;
}

.popup__btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496BD;
}

@media (min-width: 320px) {
  .banner {
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 320px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 320px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: 901px 389px;
  }
}

@media (min-width: 768px) {
  .main-nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .main-nav__list--closed {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main-nav__item {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
    width: auto;
  }

  .main-nav__item--right {
    margin-left: auto;
  }

  .main-nav__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    background-color: transparent;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }

  .main-nav__link:hover,
  .main-nav__link:focus {
    background-color: transparent;
    color: #669EC0;
  }

  .main-nav__link:active {
    color: #000000;
  }

  .main-nav__menu {
    height: auto;
  }

  .main-nav__logo {
    top: -56px;
  }

  .main-nav__toggle {
    display: none;
  }

  .banner {
    min-height: 518px;
    margin-bottom: 45px;
    background-image: url(../img/bg-back-tablet@1x.jpg);
  }

  .banner::before {
    width: 461px;
    height: 349px;
    background-image: url(../img/svg/text-index-tablet.svg);
  }

  .banner--photo {
    margin-bottom: 60px;
  }

  .banner--review {
    margin-bottom: 70px;
  }

  .banner--inner {
    min-height: 289px;
  }

  .banner--inner::before {
    width: 457px;
    height: 78px;
    background-image: url(../img/svg/text-inner-tablet.svg);
  }

  .intro {
    width: 520px;
    margin-bottom: 53px;
    padding: 0;
  }

  .intro--photo {
    width: 440px;
    margin-bottom: 84px;
  }

  .intro--video {
    width: 440px;
    margin-bottom: 84px;
  }

  .intro--review {
    width: 440px;
    margin-bottom: 84px;
  }

  .intro__title {
    font-size: 21px;
  }

  .intro__title--inner {
    font-size: 30px;
  }

  .features__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .features__item {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    height: 256px;
  }

  .features__item--blue {
    padding: 40px 30px;
  }

  .features__item--town::before {
    display: none;
  }

  .features__item--city {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
  }

  .features__picture {
    height: auto;
    -o-object-fit: fill;
       object-fit: fill;
  }

  .features__item--options {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    height: 330px;
    padding: 160px 30px 40px;
  }

  .features__item--options::before {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .features__item--housing::before {
    top: 18%;
    width: 75px;
    height: 72px;
    background-image: url(../img/svg/icon-house-tablet.svg);
  }

  .features__item--suvenires {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }

  .features__item--suvenires::before {
    top: 17%;
    width: 64px;
    height: 75px;
    background-image: url(../img/svg/icon-gift-tablet.svg);
  }

  .features__item--eat {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .features__item--eat::before {
    top: 19%;
    width: 76px;
    height: 68px;
    background-image: url(../img/svg/icon-burger-tablet.svg);
  }

  .features__item--devils {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }

  .features__item--bridge {
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .features__item--gray {
    padding: 40px 50px;
  }

  .features__item--gray::after {
    display: none;
  }

  .features__title {
    font-size: 21px;
  }

  .features__number {
    margin-bottom: 20px;
  }

  .search {
    width: 458px;
    margin: 0 auto;
    padding: 55px 0;
  }

  .search__title {
    font-size: 30px;
    margin-bottom: 35px;
  }

  .search__text {
    margin-bottom: 40px;
  }

  .search__tablet {
    display: inline;
  }

  .search__button {
    width: 100%;
  }

  .map {
    background-image: url(../img/bg-map-tablet@1x.jpg);
  }

  .page-footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 40px 60px 35px;
  }

  .page-footer--inner {
    margin-top: 60px;
  }

  .tag__title {
    margin: 0;
  }

  .social__list {
    margin: 0;
  }

  .copyright__text {
    margin-right: 12px;
  }

  .photographs {
    margin-bottom: 60px;
  }

  .photographs__wrapper {
    padding: 0 60px;
  }

  .photographs__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .photographs__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 0;
  }

  .photographs__item::before,
  .photographs__item::after {
    display: none;
  }

  .photographs__item:nth-child(3) .photographs__description {
    background-color: #EAEAEA;
  }

  .photographs__item--long {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .photographs__description {
    padding: 15px 20px 15px;
    background-color: #F2F2F2;
  }

  .photographs__text {
    margin: 0;
  }

  .photographs__likes-btn {
    position: absolute;
    bottom: 25px;
    right: 20px;
  }

  .photographs__likes-icon {
    margin-right: 6px;
  }

  .video__wrapper {
    padding: 0 60px;
  }

  .form__wrapper {
    padding: 0 60px;
  }

  .form__review {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .form__initials {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .form__contact-info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .form__impress {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .form__visit {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .form__emotions {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .form__controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .form__btn {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }

  .form__note {
    display: block;
    margin-left: auto;
  }

  .data {
    padding: 0;
  }

  .data--initials {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 56px;
    border: none;
  }

  .data--impress {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 87px;
    border: none;
    border-right: 1px solid #DBDBDB;
  }

  .data--contact-info {
    margin-bottom: 50px;
  }

  .data--visit {
    margin-bottom: 23px;
  }

  .data--emotions {
    margin-bottom: 30px;
  }

  .data__title {
    font-size: 21px;
    float: none;
    margin: 0 auto;
    padding: 0 62px;
  }

  .data__title--impress {
    margin: 0;
    margin-bottom: 70px;
    padding: 0;
  }

  .data__title--initials {
    text-align: left;
    margin: 0;
    margin-bottom: 54px;
    padding: 0;
  }

  .data__title--contact-info {
    margin-bottom: 20px;
  }

  .data__title--visit {
    margin-bottom: 60px;
  }

  .data__title--emotions {
    margin-bottom: 56px;
    padding: 0 75px;
  }

  .data__list--visit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0 94px;
  }

  .data__item--impress {
    margin-bottom: 52px;
  }

  .data__item--visit {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 230px;
    margin-bottom: 62px;
  }

  .data__item--visit:last-child {
    margin-bottom: 62px;
  }

  .data__item--contact-info {
    margin-bottom: 23px;
  }

  .popup {
    width: 640px;
  }

  .popup--fail {
    width: 400px;
  }

  .popup__main {
    padding: 55px 100px 32px;
  }

  .popup__main--fail {
    padding: 50px;
  }

  .popup__title {
    font-size: 30px;
  }

  .popup__br-tablet {
    display: inline;
  }

  .popup__controls {
    padding: 44px 91px;
  }
}

@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../img/bg-back-tablet@2x.jpg);
    background-size: 1200px 518px;
  }
}

@media (min-width: 1200px) {
  .banner {
    background-image: url(../img/bg-back-desktop@1x.jpg);
  }

  .banner--review {
    min-height: 300px;
    margin-bottom: 113px;
  }

  .intro--review {
    margin-bottom: 63px;
  }

  .map {
    background-image: url(../img/bg-map-desktop@1x.jpg);
  }

  .page-footer {
    padding: 45px 120px 35px;
  }

  .photographs {
    margin-bottom: 63px;
  }

  .photographs__wrapper {
    padding: 0;
  }

  .photographs__item {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
  }

  .photographs__item:nth-child(3) .photographs__description {
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photographs__item--long {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .photographs__description {
    position: absolute;
    bottom: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .photographs__likes-icon path {
    opacity: 1;
    fill: #FFFFFF;
  }

  .photographs__likes-icon--active path {
    opacity: 1;
    fill: #81B3D2;
  }

  .video__wrapper {
    padding: 0;
  }

  .form__wrapper {
    padding: 0 120px;
  }

  .data--initials {
    padding-left: 80px;
  }

  .data--impress {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .data__title--impress {
    text-align: left;
    padding-left: 80px;
  }

  .data__title--contact-info {
    margin-bottom: 70px;
  }

  .data__list--contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .data__list--visit {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }

  .data__item--contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: 0;
  }

  .data__item--contact-info::before {
    top: 0;
  }

  .data__item--tel::before {
    right: 79px;
  }

  .data__item--tel::after {
    top: 20px;
    right: 99px;
  }

  .data__item--mail::after {
    top: 23px;
  }

  .data__item--visit {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .data__label--contact-info {
    white-space: nowrap;
    margin: 0;
    margin-right: 17px;
  }

  .data__span {
    display: none;
  }

  .data__input--contact-info {
    width: 315px;
  }
}

@media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../img/bg-back-desktop@2x.jpg);
    background-size: 1200px 518px;
  }
}

@media (max-width: 320px) {
  .banner {
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and (-o-min-device-pixel-ratio: 2/1), (max-width: 320px) and (min-resolution: 2dppx) {
  .banner {
    background-image: url(../img/bg-back-mobile@2x.jpg);
    background-size: 901px 389px;
  }
}
@supports (-webkit-appearance:none){
.banner::before{background-image:url(../img/svg/text-index.svg)}
.banner::after{background-image:url(../img/intro-triangle.webp)}
.banner--inner::before{background-image:url(../img/svg/text-inner.svg)}
.features__item--town::before{background-image:url(../img/triangle-white.webp)}
.features__item--housing::before{background-image:url(../img/svg/icon-house.svg)}
.features__item--suvenires::before{background-image:url(../img/svg/icon-gift.svg)}
.features__item--eat::before{background-image:url(../img/svg/icon-burger.svg)}
.map{background-image:url(../img/bg-map-mobile@1x.webp)}
.data__item--tel::after{background-image:url(../img/svg/phone.svg)}
.data__item--mail::after{background-image:url(../img/svg/mail.svg)}
.data__input--checkbox:checked + .data__label--checkbox::after{background-image:url(../img/svg/tick.svg)}
}

 @media (min-width: 320px){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-mobile@1x.webp)}
}

}

 @media (min-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 320px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 320px) and (min-resolution: 2dppx){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-mobile@2x.webp)}
}

}

 @media (min-width: 768px){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-tablet@1x.webp)}
.banner::before{background-image:url(../img/svg/text-index-tablet.svg)}
.banner--inner::before{background-image:url(../img/svg/text-inner-tablet.svg)}
.features__item--housing::before{background-image:url(../img/svg/icon-house-tablet.svg)}
.features__item--suvenires::before{background-image:url(../img/svg/icon-gift-tablet.svg)}
.features__item--eat::before{background-image:url(../img/svg/icon-burger-tablet.svg)}
.map{background-image:url(../img/bg-map-tablet@1x.webp)}
}

}

 @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 768px) and (min-resolution: 2dppx){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-tablet@2x.webp)}
}

}

 @media (min-width: 1200px){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-desktop@1x.webp)}
.map{background-image:url(../img/bg-map-desktop@1x.webp)}
}

}

 @media (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1), (min-width: 1200px) and (min-resolution: 2dppx){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-desktop@2x.webp)}
}

}

 @media (max-width: 320px){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-mobile@1x.webp)}
}

}

 @media (max-width: 320px) and (-webkit-min-device-pixel-ratio: 2), (max-width: 320px) and (-o-min-device-pixel-ratio: 2/1), (max-width: 320px) and (min-resolution: 2dppx){

@supports (-webkit-appearance:none){
.banner{background-image:url(../img/bg-back-mobile@2x.webp)}
}

}
