@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

@import 'global/fonts.scss';

@import 'global/global.scss';

@import 'global/variables.scss';

@import '_page.scss';

@import '_page-header.scss';

@import '_banner.scss';

@import '_intro.scss';

@import '_features.scss';

@import '_contacts.scss';

@import '_page-footer.scss';

@import '_photographs.scss';

@import '_video.scss';

@import '_form.scss';

@import '_data.scss';

@import '_popups.scss';